.App {
  text-align: center
}

h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 2.5rem;
}

h2 {
  color: #535461;
  font-size: 2rem;
}

.noscroll {
  overflow: hidden;
}

.coding-main {
  width: 60%;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 180px;
  grid-template-columns: 1fr 1fr;
  height: auto;
  text-align: center;
}

.front, .back, .tools, .front h1, .back h1, .tools h1 {
  transition: .4s;
}

.front h1, .back h1, .tools h1 {
  padding: 5px;
}

.front {
  border: 2px solid #c07eb1;
  padding: 2%;
}

.back {
  border-bottom: 2px solid #c07eb1;
  border-top: 2px solid #c07eb1;
  border-right: 2px solid #c07eb1;
  padding: 2%;
}

.tools {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  border-bottom: 2px solid #c07eb1;
  border-left: 2px solid #c07eb1;
  border-right: 2px solid #c07eb1;
  height: fit-content;
  padding: 2%;
}

.front:hover,
.back:hover,
.tools:hover {
  background-color: #c07eb1;
}

.front:hover h2,
.back:hover h2,
.tools:hover h2 {
  color: black;
}

@media screen and (max-width: 320px) {
  .content_inner {
    padding: 15% 2% !important; 
  }
  .home {
    padding: 30% 5% !important;
  }
  .menu_items li {
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 480px) {
  /* .content_inner { */
    /* padding: 15% 2%; */
  /* } */
  .content_inner > img {
    width: 100%;
  }
  .coding-main {
    width: 100%;
  }
  .coding {
    display: none;
  }
}