.App {
  text-align: center
}

h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 2.5rem;
  color: #c07eb1;
}

h2 {
  color: #535461;
  font-size: 2rem;
}

.home-title-small {
  color: black;
}

.noscroll {
  overflow: hidden;
}

.coding-main {
  width: 60%;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 180px;
  grid-template-columns: 1fr 1fr;
  height: auto;
  text-align: center;
}

.front,
.back,
.tools,
.front h1,
.back h1,
.tools h1 {
  transition: 0.4s;
}

.front h1,
.back h1,
.tools h1 {
  padding: 5px;
}

.front {
  border: 2px solid #c07eb1;
  padding: 2%;
}

.back {
  border-bottom: 2px solid #c07eb1;
  border-top: 2px solid #c07eb1;
  border-right: 2px solid #c07eb1;
  padding: 2%;
}

.tools {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  border-bottom: 2px solid #c07eb1;
  border-left: 2px solid #c07eb1;
  border-right: 2px solid #c07eb1;
  height: fit-content;
  padding: 2%;
}

.front:hover,
.back:hover,
.tools:hover {
  background-color: #c07eb1;
}

.front:hover h2,
.back:hover h2,
.tools:hover h2 {
  color: black;
}

@media screen and(max-width: 320px) {
  .content_inner {
    padding: 15% 2% !important;
  }
  .home {
    padding: 5% !important;
  }
  .menu_items li {
    margin-bottom: 10px !important;
  }
}

@media screen and(max-width: 480px) {
  .content_inner > img {
    width: 100%;
  }
  .coding-main {
    width: 80%;
  }
  .coding {
    display: none;
  }
}

@media screen and(min-width: 2400px) {
  .coding-main {
    width: 100%;
  }
  .inner h1,
  .projects h1 {
    font-size: 5.5em !important;
  }
  .inner h2,
  .projects h1 {
    font-size: 5em !important;
  }
  .menu_toggle {
    width: 10% !important;
    height: 15% !important;
  }
  .menu_open {
    transform: rotate(0deg);
  }
  .menu_close {
    transform: rotate(30deg) !important;
  }
}

@media screen and(min-width: 1500px) {
  .coding-main {
    width: 70%;
  }
}

@media screen and(min-width: 760px) and(max-width: 780px) {
  .home-title {
    /* font-size: 4rem; */
  }
  .home-title-small {
    /* font-size: 3rem; */
    color: black;
  }
  .coding-main {
    width: 60%;
  }
}
